<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<body>
<h1>메인 페이지 </h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>


<div class="bxslider" >
    <div th:each="x : ${bannerList}">
        <a th:href="${x.linkBanner}" th:target="${x.targetInfo}">
            <img th:src="${x.urlFilename}"/>
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            auto: true,
            speed: 500,
            pause: 4000,
            captions: true,
            autoControls: true,
            pager: true,
            touchEnabled : false // box-slider 버전 업그레이드 이후, 박스슬라이더 내부 링크 작용 제대로 안 됨.
        });
    });
</script>

</body>
</html>
